[2020-12-02 17:28] jrobind opened #1 "Heading elements are not in a sequentially-descending order"
Running a lighthouse audit returns some accessibility issues regarding heading element order.

![Screen Shot 2020-12-02 at 17 10 45](https://user-images.githubusercontent.com/30320536/100906943-a5cdea00-34c1-11eb-8647-b95cadcc5aa3.png)

This will cause navigation issues for screen reader users. [This article explains in more detail why this is a problem](https://web.dev/heading-order/?utm_source=l

[2020-12-03 22:21] jrobind opened #2 "Prevent keyboard trap in lesson editor"
Currently if you tab into the editor you cannot tab out of it. This causes a keyboard trap which is bad accessibility.

Essentially, we need to prevent [WCAG 2.1.2 No Keyboard Trap.
](https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-trapping.html)

A possible solution is to allow the escape key to exit the editor.

[2020-12-03 22:32] jrobind opened #3 "Improve JavaScript error handling"
Currently any JavaScript errors that are caught are being printed to the console with `console.log` or `console.error`.

I think it will be more useful for the user to receive some feedback if a request or action fails.

For instance, if a user attempts to remove/delete a lesson and this request fails the lesson card remains on the screen and the process fails silently which is confusing for the u

[2020-12-03 22:47] jrobind opened #4 "Prevent update lesson button text from wrapping"
The update lesson button text wraps throwing out the button styling.

![Screen Shot 2020-12-03 at 22 46 08](https://user-images.githubusercontent.com/30320536/101097598-5ec32000-35b9-11eb-910f-0c6b89da845e.png)

[2020-12-03 23:02] jrobind opened #5 "Use ES6 modules to modularise JavaScript"
Currently all of the JavaScript code lives in [one file](https://github.com/jrobind/dev-jot/blob/master/public/js/index.js).

It would be nice to move the code into separate modules which will encourage reusability and improve maintainability. Modules should be small pieces of code with independent functionalities which means that they should be easier to test too.

The code could be separated out

[2020-12-03 23:08] jrobind opened #6 "Tidy up renderLessons()"
The `renderLessons()` function is [quite large](https://github.com/jrobind/dev-jot/blob/master/public/js/index.js#L124). It feels like it's doing to much at the moment i.e. it's fetching, it's creating and it's also rendering.

The logic to create DOM elements seems pretty repetitive too - maybe we can create some sort of utility function to handle this more elegantly?

[2020-12-03 23:12] jrobind opened #7 "Modal/dialog should be closed with Esc key"
Currently when you view a lesson

![Screen Shot 2020-12-03 at 23 09 18](https://user-images.githubusercontent.com/30320536/101099471-98e1f100-35bc-11eb-98b4-274de034152f.png)

The only way to exit/close the modal is to click the close button. The modal should be closable with the Esc key which will improve modal accessibility for keyboard users.

[2020-12-04 14:14] jrobind opened #8 "Trap focus inside modal/dialog"
When the lesson view modal appears there is no focus trap which is bad for assistive tech users. Currently, there is no way for a user to tab onto the close button and screen readers will also be unaware that a modal has appeared on screen.

![Screen Shot 2020-12-03 at 23 09 18](https://user-images.githubusercontent.com/30320536/101173476-80b0b700-363a-11eb-8cfa-f0e0238ed65d.png)

I suggest we fol

[2020-12-04 15:16] jrobind opened #9 "Add button hover effect"
There are no hover effects for buttons across the app.

Other than `cursor: pointer`, I think it would be nice to have a cool global hover effect. You can make it as fancy as you like, just make sure the hover effect is consistent across all buttons.

[2020-12-04 15:23] jrobind opened #10 "Add viewport meta tag"
Because the site is missing a viewport meta tag, mobile devices actually render a scaled down desktop width page making content difficult to read and interact with. We should include one in the page head to fix this whilst making sure this passes a [lighthouse audit too](https://web.dev/viewport/?utm_source=lighthouse&utm_medium=devtools#how-the-lighthouse-viewport-meta-tag-audit-fails):

For more

[2020-12-04 15:26] Niaz-Ul-Haque commented on #9
Can i  get assigned to this? im interested in working with this issue and come up with solutions. Thank you

[2020-12-04 16:14] jrobind commented on #9
@Niaz-Ul-Haque go for it!

[2020-12-04 19:37] Niaz-Ul-Haque commented on #9
Thank you for  the opportunity

[2020-12-05 17:14] Niaz-Ul-Haque commented on #9
[#11](https://github.com/jrobind/dev-jot/pull/11)

[2020-12-05 23:01] sonechca commented on #7
Hi,

I would like to work on this, Can I join in this issue?

[2020-12-06 16:25] jrobind commented on #7
Go for it @sonechca 😄

[2020-12-06 17:42] jrobind opened #12 "Prevent homepage scroll"
Currently you can scroll the homepage content which I think looks a bit odd.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/30320536/101287747-18a0d300-37ea-11eb-8e80-59436c3964e8.gif)

For now we should prevent scrolling and have content fill 100% viewport height.

[2020-12-06 17:53] jrobind opened #13 "Remove cursor styling from lesson cards"
Lesson cards have `cursor: pointer` applied which gives the user the impression that the cards should be clickable but they are not.

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/30320536/101288006-ca8ccf00-37eb-11eb-8ba6-83f51691486f.gif)

We should remove the cursor styling.

[2020-12-06 18:00] jrobind opened #14 "Improve lesson modal appearance"
The lesson modal looks a little dull.

![Screen Shot 2020-12-06 at 17 55 31](https://user-images.githubusercontent.com/30320536/101288088-83530e00-37ec-11eb-9df3-3423326bfc57.png)

We could spice up the design whilst keeping colour schemes consistent with the rest of the site. If you're having trouble finding stylistic inspiration maybe take a look at https://dribbble.com/tags/modal

[2020-12-06 20:39] marcinwmichna commented on #1
Hi, can I work on that?

[2020-12-06 21:20] Jwright707 commented on #12
I would like to take a look into this issue.

[2020-12-06 22:17] marcinwmichna commented on #1
#16

[2020-12-07 07:01] jrobind commented on #12
All yours @Jwright707

[2020-12-07 08:51] jrobind opened #18 "Implement app mobile design"
Although the app works on mobile, currently it's only set up for desktop users. We should update the app to work on smaller viewports. Maybe the editor and lesson grid should stack into a single column? This issue is a little vague so there is scope to do lots with this.

If anyone wants to pick this up maybe it would be best to have a discussion about next steps here.

[2020-12-07 08:57] jrobind opened #19 "Add link option to editor toolbar"
It would be nice to include an 'add link' option in the toolbar editor.

![Screen Shot 2020-12-07 at 08 56 41](https://user-images.githubusercontent.com/30320536/101330130-2c8c1980-386a-11eb-936c-c80aa652544c.png)

[2020-12-07 09:02] jrobind opened #20 "Refactor application to use Async Await"
This refactor will make the asynchronous code a little easier to read. The [MDN docs](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await) are a good place to start if you need a refresh.

[2020-12-07 09:06] jrobind opened #21 "Add favicon"
Let's add a [favicon](https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML#Adding_custom_icons_to_your_site)!

[2020-12-07 09:16] jrobind opened #22 "Cannot add new lesson after editing and removing previous lesson"
If I edit a particular lesson and then delete it, if I then try to add a new lesson it fails silently and the lesson isn't added:

![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/30320536/101331967-9b6a7200-386c-11eb-897f-bddc8e532532.gif)

If you're struggling to debug this please follow [this code reading process](https://www.thefrontendcoach.com/blog/how-to-read-code).

[2020-12-07 14:36] groggilsoft opened #23 "After editing a lesson, if you immediately create a new lesson it overwrites whichever one you edited."
**Note: Reloading the page inbetween editing and creating a new lesson will cause the issue not to happen.**

![dev-jot — Mozilla Firefox 2020-12-07 09-25-57](https://user-images.githubusercontent.com/65983879/101363601-9955e280-386f-11eb-972f-c5fe16e4fc22.gif)

[2020-12-07 14:56] groggilsoft commented on #21
(Eyeraker)
I would like to work on this.

[2020-12-07 15:02] buigabor commented on #7
I believe it would be also more convenient, if we could close the modal by clicking on the black background as well.

[2020-12-07 15:04] jrobind commented on #21
All yours 😄

[2020-12-07 15:16] jrobind commented on #7
Agreed! Feel free to raise an issue for this @buigabor 😄

[2020-12-07 15:28] buigabor opened #24 "Modal / dialog should be closed by clicking on the background"
The modal or dialog should close after clicking on the black background

[2020-12-07 15:31] jrobind commented on #1
Closed by #15

[2020-12-07 15:31] #1 closed

[2020-12-07 15:46] buigabor commented on #24
I would gladly work on this one:)

[2020-12-07 15:47] jrobind commented on #24
You got this 😃  @buigabor!

[2020-12-07 15:54] jrobind opened #25 "Convert pre-auth Google sign in div to button"
Currently the pre-auth sign in button isn't actually a `button` element it is a `div`.

![Screen Shot 2020-12-07 at 15 52 02](https://user-images.githubusercontent.com/30320536/101372794-2d41a180-38a4-11eb-826e-761433be6b69.png)

For accessibility reasons, we should either convert this to a `button` element or keep this as a `div` but make sure this is accessible for screen readers. (tip, Google s

[2020-12-07 17:23] MaheshMadushan commented on #25
Hi, I like to work on this one. This is first time I'm contributing :)

[2020-12-07 18:15] lkruger93 commented on #13
Hi, can I work on this and do it a better way this time?  thanks for the feedback from earlier!

[2020-12-07 19:07] jrobind commented on #13
It's all yours - you're welcome 😄

[2020-12-07 19:24] #24 closed

[2020-12-07 19:26] jrobind commented on #12
Closed by #12

[2020-12-07 19:26] #12 closed

[2020-12-07 21:33] furkanmutlu commented on #25
I would like to fix this issue

[2020-12-08 02:29] MSoup commented on #19
I'd like to give this a go.

[2020-12-08 03:04] MSoup opened #31 "Implement support for styling with Markdown"
As of this posting, only styling via the built in editor is available.

As this is a tool for developers, I think it would be useful to be able to format our text appropriately.

I don't know how to tag this post with appropriate labels, so my apologies if I am not following a convention for posting issues. I wanted to label this as an enhancement. Unsure of how the difficulty of implementation wo

[2020-12-08 08:45] jrobind commented on #25
Go for it @furkanmutlu!

[2020-12-08 08:46] jrobind commented on #19
It's all yours @MSoup 😃

[2020-12-08 08:48] furkanmutlu commented on #25
@jrobind thank you, I already created PR last night :)

[2020-12-08 09:45] jrobind commented on #31
Really nice idea, being able to use markdown would be a really useful feature. I've put this as 'code level medium' because it will require some investigation.

[2020-12-08 11:02] jrobind commented on #25
Closed by #29

[2020-12-08 11:02] #25 closed

[2020-12-08 11:03] jrobind commented on #21
Closed by #30

[2020-12-08 11:03] #21 closed

[2020-12-08 11:13] jrobind opened #32 "Add linting"
I think [prettier](https://prettier.io/) would be a good fit. It would save beginners having to worry excessively about linting. With prettier all the formatting is handled for you.

Open to discussion/suggestions on this!

[2020-12-08 11:29] jrobind opened #33 "Convert site to Progressive Web App"
As a PWA the site would have a really cool offline experience and also have the look and feel of a native app. We have the manifest already set up, and the site is served over https so the last thing is to ensure the app is installable. To do this, we need to have a registered service worker which will allow the app to work offline.

For information on PWAs please read through the [MDN documentati

[2020-12-08 11:38] jrobind opened #34 "Create gulp boilerplate/setup"
It would be nice to improve development workflow and automate some tasks such as optimising assets like CSS, JavaScript, and images with [gulp](https://gulpjs.com/).

Gulp is considered a build tool along with the likes of grunt and broccoli. Gulp config tends to be a little shorter and easier to write (imho) so it might be the best build tool for beginners. Open for discussion of course!

As a st

[2020-12-08 15:48] jrobind commented on #13
Closed by #17

[2020-12-08 15:48] #13 closed

[2020-12-08 16:05] marcinwmichna commented on #14
![Lesson modal example](https://user-images.githubusercontent.com/49107774/101508928-81b65100-3978-11eb-8f84-7a73c6a725d4.png)

Does it look good? If so, let me work on that 👍

[2020-12-08 16:38] nimiakinleye commented on #18
I'll be willing to pick this up!

[2020-12-08 16:39] nimiakinleye commented on #18
I'll be willing to pick this up!

[2020-12-08 16:46] jrobind commented on #18
Go for it @nimiakinleye 😃  💪

[2020-12-08 16:47] jrobind commented on #14
That looks amazing @marcinwmichna. A massive improvement! Go ahead it's all yours 👍

[2020-12-08 21:32] furkanmutlu commented on #4
I would like to work on this bug. Could you please explain me more about the issue and repro steps?  What do you mean by text wraps throwing out the button styling?

[2020-12-08 22:29] seunggyupark commented on #23
I'll take a look at this, if you don't mind!

[2020-12-09 03:34] MSoup commented on #19
Posting an update - I got the link (and image upload) option into the toolbar following the quilt module documentation, but the pop up UI isn't playing well with our current site set up. I'll need some time to figure out how to figure this out before submitting this.

[2020-12-09 11:07] MSoup commented on #19
Update2: Finished feature and fixed UI bug. I have no idea how to make the pull request though and googling isn't helping me right now. Maybe I will figure it out soon but I am getting permission denied even if I make a new branch and try to push it.

[2020-12-09 11:19] jrobind commented on #19
Thanks for the updates - great job!

Hopefully you'll get things working now per our discussion on Discord.

[2020-12-09 11:33] jrobind commented on #4
Awesome go for it!

Sure. Essentially, there should be no line break, the button text should be on one line >> UPDATE LESSON
I'm able to produce this by:

1. Creating a lesson
2. Clicking on a lesson edit button

This is on:

**Mac OS X Yosemite**
**Chrome 86**

[2020-12-09 11:34] jrobind commented on #23
All yours 😄

[2020-12-09 11:38] jrobind commented on #6
@Jwright707 is currently working on this

[2020-12-09 13:24] marcinwmichna opened #38 "Selected font size does not apply to "view lesson" view"
As the title says: creating new lesson and selection font size does apply to lesson overview but **not** to "view lesson" view.
![testing](https://user-images.githubusercontent.com/49107774/101635359-26449b80-3a2a-11eb-9318-5d2a7294417d.PNG)

[2020-12-09 15:31] furkanmutlu commented on #4
@jrobind  Created PR: #39

[2020-12-09 15:57] furkanmutlu commented on #22
I would like to work on this issue.

[2020-12-09 16:12] jrobind commented on #4
Closed by #39

[2020-12-09 16:12] #4 closed

[2020-12-09 16:12] jrobind commented on #38
Good spot, thanks for raising the issue.

[2020-12-09 16:42] furkanmutlu commented on #22
Created PR: #40

[2020-12-09 17:10] buigabor commented on #20
Hi! Can I take this on?:)

[2020-12-09 17:11] jrobind opened #41 "Move Quill and Firebase JS initialisation to its own file"
Currently the quill and firebase initialisation and configurations are located within a `script` in the HTML.

It would be better to have all of the JS grouped together, better still, we could start to modularise the JS using JS modules and have this config and initialisation moved into its own file.

[2020-12-09 17:13] jrobind commented on #20
Go for it @buigabor 🚀

[2020-12-09 17:14] jrobind commented on #19
Closed by #36

[2020-12-09 17:14] #19 closed

[2020-12-09 20:00] jrobind commented on #14
I'm going to leave this issue open. Current updates have been made to the modal title in #37, I think there is still scope for more improvements - someone may want to give this a go too.

[2020-12-09 23:13] mamadou-diallo commented on #32
I can take care of this.

[2020-12-10 02:21] MLJBrackett commented on #10
Hey @jrobind I'd like to take this on! Assign me and I'll get started.

[2020-12-10 06:15] MSoup commented on #41
I'd like to tackle this! First time modularizing.

[2020-12-10 08:04] jrobind commented on #41
Go for it @MSoup!

[2020-12-10 08:04] jrobind commented on #6
closed by #35

[2020-12-10 08:04] #6 closed

[2020-12-10 08:05] jrobind commented on #10
All yours @MLJBrackett ! I'll get round to the PR review today

[2020-12-10 08:06] jrobind commented on #32
Go for it @mamadou-diallo 😄

[2020-12-10 08:34] jrobind commented on #22
Just merged. Thanks!

[2020-12-10 08:34] #22 closed

[2020-12-10 09:29] jrobind opened #45 "Fix lesson card close btn spacing"
We could do with a little more space below the lesson close button and the lesson content container:

![Screen Shot 2020-12-10 at 09 27 55](https://user-images.githubusercontent.com/30320536/101753098-2b592780-3aca-11eb-895c-82179ba35514.png)

[2020-12-10 09:42] jrobind opened #46 "Set up testing environment"
I'd recommend using [jest](https://jestjs.io/), but open to discussions on this.

This issue could cover just the testing setup and configuration.

In terms of actually writing some meaningful tests for our code, this will probably require a bit of extra work and refactoring. We might need to move our JS logic into a class which will make testing methods/functionality much easier.

[2020-12-10 16:05] jrobind opened #47 "Prevent users from creating lessons with no notes"
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/30320536/101797036-7c384280-3b01-11eb-89ff-27703a8b6954.gif)

[2020-12-10 16:17] VIPIN24BOHRA opened #48 "typo in Current State paragraph of readme file"
In the Current State paragraph of the readme file, in the 4th line, there is a typo in the active link instead of live verson it must be " live version"

[2020-12-10 21:23] #10 closed

[2020-12-11 00:14] mamadou-diallo commented on #32
@jrobind Hey ! Any sort of specific rules that you would like for me to apply?

[2020-12-11 09:50] jrobind commented on #48
Thanks for raising this. Good spot - feel free to pick this up if you want to. No worries if not!

[2020-12-11 11:24] jrobind commented on #32
Aside from `"tabWidth": 2`, it's totally up to you! Whatever you feel makes sense. We can always update the linting rules at a later date

[2020-12-11 11:48] #23 closed

[2020-12-11 11:49] jrobind commented on #20
Closed by #49

[2020-12-11 11:49] #20 closed

[2020-12-11 13:18] VIPIN24BOHRA commented on #48
yeah, I  am up for this. plz label it "in-progress"

[2020-12-11 15:53] jrobind commented on #48
Closed by #50

[2020-12-11 15:53] #48 closed

[2020-12-12 01:49] mamadou-diallo commented on #46
I'll take care of this

[2020-12-12 06:22] buigabor commented on #33
I would like to tackle this! Never did anything like this before!:D

[2020-12-12 13:49] jrobind commented on #32
closed by #51

[2020-12-12 13:49] #32 closed

[2020-12-12 13:49] jrobind commented on #46
Thanks! 👍

[2020-12-12 13:50] jrobind commented on #33
Go for it @buigabor 😃

[2020-12-12 16:49] jrobind opened #54 "Clear button should appear when adding/creating a lesson too"
Currently when you edit a lesson the clear button appears:

![Screen Shot 2020-12-12 at 16 48 40](https://user-images.githubusercontent.com/30320536/101989660-eab00880-3c99-11eb-8ad7-d351b9a9b976.png)

It would be nice if there was the option to also clear content when a user is creating/adding a new lesson.

[2020-12-12 16:53] jrobind opened #55 "Add a lessons count/total"
I think it would be cool to have the total number of lessons visible to the user.

Maybe we could place the total near the Lessons heading:

![Screen Shot 2020-12-12 at 16 51 35](https://user-images.githubusercontent.com/30320536/101989745-75910300-3c9a-11eb-9967-ae7b90b6a4f3.png)

Open for suggestions on what this count/total would look like!

[2020-12-13 09:13] MSoup commented on #41
Done and PR posted. One thing that had me a little bit uncertain was that I split firebase and quill into their own respective modules, but they're both small pieces of code, so maybe it would have been cleaner to just have an init file that encompasses both. On the other hand, it might be much faster to debug once our codebase gets big when it's separated like this.

[2020-12-13 11:22] mstrutt opened #57 "Enhance dev setup for collaborators"
- Add an editorconfig file so that code style is automatically applied
- Add an .nvmrc file so we're all on the same node version
- Fix the eslint setup so it's there for those that want to use it
- Add a `lint` command to npm to report on pretteir and eslint findings

[2020-12-13 11:58] edXmO commented on #47
Hi! Can I tackle this?

[2020-12-13 12:56] jrobind commented on #47
Sure thing! Go for it!

[2020-12-13 13:11] #57 closed

[2020-12-13 13:11] mstrutt commented on #57
Leaving for now, probably overkill

[2020-12-13 13:43] edXmO commented on #47
I got it working. But I have a question/suggestion. Managed to prevent the user from creating a lesson with no lesson text. So i thought it might be a good idea to prevent them from creating lessons containing only whitespaces too.

In that last case, when testing it, adding an only whitespaces lesson makes the placeholder empty/blank.

So, should I add again the current "Add some lesson notes!" o

[2020-12-13 15:55] edXmO commented on #54
Hi! I think I can do this :)

[2020-12-13 17:24] jrobind commented on #47
Good point @edXmO. I agree, we should prevent lesson with only whitespace from being created too.

How are you preventing the user from submitting a lesson? Are we displaying an error message? I think it would be nice to have a generic message that covers both cases

Thanks for taking this on 😄

[2020-12-13 17:26] jrobind commented on #54
All yours :)

[2020-12-13 18:17] jrobind commented on #47
Btw just reviewed your PR. We can hold off on the error message for now. How about we get your current PR merged in and then we can raise a new issue to address this?

[2020-12-13 18:23] edXmO commented on #47
Thank you so much for the feedback! Good idea, I'll first concentrate on solving all posible cases for the PR and then I'll address the error message.

[2020-12-13 18:39] jrobind opened #59 "Add lesson tags"
Links to #62

As part of the lesson tag filter feature, a user should be able to filter lessons by tag(s). This issue should cover just the JS implementation of adding tags to lessons.

Hint: you can add the tag field/property somewhere within `addLesson()` and you can check to see if this works within `renderLessons`.

[2020-12-13 20:12] jrobind commented on #47
You're very welcome! Awesome 👍

[2020-12-13 21:06] jrobind commented on #41
I missed this comment! I guess if the config and initialisation becomes more complex we can move them back out into separate files. Nice job!

Closed by #56

[2020-12-13 21:06] #41 closed

[2020-12-14 10:48] edXmO commented on #54
Hi! I've been thinking on the approach. Since the user can only send a lesson if it has a title, what I did is, clear button appears when user clicks on lesson title.

* Should I also consider the text box?

Also I thought that instead of adding it via eventListener, maybe it would be a better idea to write a function, so if needed in other place can be reused.

Let me know. Thanks!

[2020-12-14 11:43] jrobind opened #60 "Modify UI allowing user to add lesson tags"
Links to #

As part of the lesson tag filter feature, a user should be able to add tags to a lesson. The markup for this will need to be added to the create/new lesson form.

Some thoughts:

* This could be achieved by adding a drop-down list with a predefined list of options
* Should the user be able to define their own custom lesson tags?

As always this is open for discussion 😄

[2020-12-14 11:48] jrobind opened #61 "Implement lesson tag filtering"
Links to #

As part of the lesson tag filter feature, a user should be able to filter lessons by tag(s). It might make sense to create 2 tickets, one to handle the UI and the other to handle the filtering logic.

Things to consider:

* Where will the filtering controls live?
* Should the user be able to filter by multiple tags?
* Should we display something to the user in the event there are no ma

[2020-12-14 11:49] jrobind opened #62 "As a user I would like to be able to filter lessons by tags"
This is an epic issue. List of individual issues needed to achieve this epic are below:

- [ ] Add lesson tags logic #59
- [ ] Modify UI allowing user to add lesson tags (#60)
- [ ] Implement lesson tag filtering #61

[2020-12-14 11:55] jrobind opened #63 "Create mockup for lesson tag filter feature"
If we have any budding designers it would be cool if we could come up with a rough design mockup for the lesson tag filter feature outlined in #62.

[2020-12-14 16:13] jrobind commented on #47
Closed by #58

[2020-12-14 16:13] #47 closed

[2020-12-14 16:23] jrobind opened #64 "Notify user when trying to submit a lesson with no notes"
Currently, a user is prevented from creating a lesson that contains no text. Even though the validation logic is correct there isn't a message or visual cue to inform the user the lesson creation has failed.

![ezgif com-gif-maker (5)](https://user-images.githubusercontent.com/30320536/102106567-a69f3e00-3e28-11eb-98ae-131f0176dc98.gif)

[2020-12-14 16:26] jrobind commented on #54
I think this sounds like a good approach! It would be nice for the button to appear once the user interacts with the editor content field too. I guess we also need to make sure that if the title field and content field are both empty then the clear button should disappear.

What do you think?

[2020-12-14 20:45] marcinwmichna commented on #45
Let me quick fix that.

[2020-12-15 11:06] marcinwmichna opened #65 "Auth/unauthorized-domain when running project locally"
When running locally i get this message:
auth/unauthorized-domain This domain (127.0.0.1) is not authorized to run this operation. Add it to the OAuth redirect domains list in the Firebase console -> Auth section -> Sign in method tab.

Cannot Sign in with Google.

![image](https://user-images.githubusercontent.com/49107774/102206917-968d6a00-3ecd-11eb-9c0e-d5daef152880.png)

[2020-12-15 11:35] buigabor commented on #65
I ran into the same problem, after trying this it worked for me:

If you run into an error stating "auth/unauthorized domain This domain (127.0.0.1) is not authorized to run this operation", after signing in with Google, please try the following: Go to live server extension -> Settings:Host -> Change the default 127.0.0.1 to localhost

[2020-12-15 11:46] marcinwmichna commented on #65
@buigabor seems to work! Thanks 👍

[2020-12-15 12:02] edXmO commented on #54
Yeah, that was what I was thinking. Sorry, I was working on it and forgot to reply.

What I did was created a function that handles the hidden attribute of the clear button atacched to the window onload event.

This is what i covered so far:

* Clear appears when mousing over the form, even if form is empty.
* When mousing out of the form, and if both fields are empty, clear button disappears.
* W

[2020-12-15 12:02] marcinwmichna commented on #45
#66

[2020-12-15 13:27] jrobind commented on #45
Closed by #66

[2020-12-15 13:27] #45 closed

[2020-12-15 14:59] jrobind commented on #65
Thanks for raising this @marcinwmichna. I've actually made some changes to the project.

By default it will now work without Firebase. Lesson notes are now persisted to the browser's local storage. I've done this so it will be easier for contributors (especially first timers) to get the project running locally. Currently, the project will still work with Firebase but you will need to create your o

[2020-12-15 15:36] jrobind opened #67 "Update 404.html"
Currently this is the default Firebase 404 markup.

![Screen Shot 2020-12-16 at 15 01 10](https://user-images.githubusercontent.com/30320536/102365546-95346e00-3faf-11eb-9acf-e20cdc1d2c4b.png)

Let's update this so the page is more consistent with the rest of the site design.

[2020-12-15 16:35] jrobind commented on #54
That sounds spot on @edXmO. It doesn't have to be perfect, if we miss some use cases we can always raise another issue.

Btw, you're doing a really good job of documenting your process 👍

Thanks

[2020-12-16 15:09] jrobind opened #69 "Add EditorConfig"
Adding an `.editorconfig` file will help to maintain consistent coding styles for contributors working on the project across various editors and IDEs.

Here is an example config:

[code]

Please see the [docs](https://editorconfig.org/) for more information

[2020-12-16 17:54] jrobind commented on #54
Closed by #68

[2020-12-16 17:54] #54 closed

[2020-12-17 10:02] edXmO commented on #64
I think, there's different approaches for this:
* Notify the user via pop-up
* Modify the text within the fields: "Can't add empty lessons."
* Add some different style to the empty field, so the user notices. Maybe change the border.

Maybe, the better option is the less invasive for the user.

What do you think?

[2020-12-17 12:06] jrobind commented on #64
I think at a minimum we should at least change the border colour. The native HTML input validation renders a tooltip when trying to submit without a lesson title like so:

![Screen Shot 2020-12-17 at 12 01 46](https://user-images.githubusercontent.com/30320536/102485570-b6549780-405f-11eb-8f4f-22d626efbd8a.png)

I think changing the border colour is something we should definitely do – maybe adding

[2020-12-17 15:30] buigabor opened #72 "[PWA] Can't fetch manifest icon"
The application can't fetch the manifest icon. Probably the paths are not correct in the site.manifest file.

<img width="443" alt="Screenshot 2020-12-17 at 16 30 21" src="https://user-images.githubusercontent.com/65706872/102508028-380aec00-4085-11eb-8941-a57b4e5b4c32.png">

[2020-12-17 16:32] jrobind commented on #72
Good spot! Thanks!

[2020-12-17 18:12] AdnCodez commented on #55
Hey, I have finished this one, is this what you wanted
![Screenshot from 2020-12-17 19-11-47](https://user-images.githubusercontent.com/20237313/102526344-cdb17600-409b-11eb-970f-d029661c72c6.png)
![Screenshot from 2020-12-17 19-11-39](https://user-images.githubusercontent.com/20237313/102526346-cee2a300-409b-11eb-898b-e32a64933aab.png)

[2020-12-17 19:18] buigabor commented on #72
Can I fix this myself? I am kinda into PWA right now :D

[2020-12-17 19:19] jrobind commented on #55
This looks good @AdnCodez. I'm not sure if we need a count for when there are no lessons seeing as the 'No lessons' text handles this. We could maybe add a hyphen between 'Lessons' and the number just so it looks a little cleaner.

What do you think?

[2020-12-17 19:19] jrobind commented on #72
Of course! All yours 👍

[2020-12-17 19:20] jrobind commented on #46
Closed by #52

[2020-12-17 19:20] #46 closed

[2020-12-17 19:25] edXmO commented on #64
Yes, I'll give it a go. I'll first focus on adding the border colour in the respective use cases and then maybe address the tooltip/pop-up.

[2020-12-17 21:08] AdnCodez commented on #55
Okay, sounds good I will adjust that, maybe the comma is not necessary it will make things a bit cluttered imo :)

[2020-12-17 23:15] jrobind commented on #64
Awesome! Sounds good 👍

[2020-12-18 16:10] jrobind opened #74 "Set up styled components"
I think it would be cool to use [styled components](https://styled-components.com/docs/basics) for the React version of the project.

This issue can cover installation and basic configuration.

[2020-12-18 16:11] jrobind commented on #33
Closed by #71

[2020-12-18 16:11] #33 closed

[2020-12-19 09:37] jrobind commented on #55
Closed by #73

[2020-12-19 09:37] #55 closed

[2020-12-19 21:07] lucievr commented on #74
Can I pick this up?

[2020-12-19 23:26] jrobind commented on #74
Sure thing! it's all yours 👍

[2020-12-20 10:11] chhatrapalsinhzala007 commented on #67
hyyy

let's work on this together.

[2020-12-20 13:01] jrobind commented on #67
Hey @chhatrapalsinhzala007 it's all yours 😄

[This is the file you need to update](https://github.com/jrobind/dev-jot/blob/master/app-main/public/404.html)

[2020-12-20 13:15] chhatrapalsinhzala007 commented on #67
Hyy @jrobind.
 I will complete this as soon as possible.

[2020-12-20 15:25] jrobind commented on #67
Awesome. No rush @chhatrapalsinhzala007 – take your time with it!

[2020-12-21 10:05] chhatrapalsinhzala007 commented on #67
hyy @jrobind i have submitted pull request please check it out. and please let me know if you want any other changes.

[2020-12-21 12:07] jrobind opened #78 "Align lesson count"
Currently the lesson count alignment is a little off relative to the "Lessons" text:

![Screen Shot 2020-12-21 at 12 03 17](https://user-images.githubusercontent.com/30320536/102775388-abae4100-4384-11eb-9475-ea13189377ce.png)

[2020-12-21 14:32] medhavibasera commented on #78
I would like to work on this!

[2020-12-21 17:43] jrobind commented on #78
All yours @medhavi11 👍

[2020-12-21 21:12] jrobind commented on #74
Closed by #77

[2020-12-21 21:12] #74 closed

[2020-12-22 12:48] lucievr opened #80 "Update document <head> in React app"
This issue covers updating the document head, including meta tags, links and title in the React app to match the attributes of the main dev-jot app as seen here: https://github.com/jrobind/dev-jot/blob/master/app-main/public/index.html

[Happy to take this on to get the ball rolling but for future issues I'll give space to someone else 😉 ]

[2020-12-22 16:20] jrobind commented on #80
Thanks for raising the issue. It's all yours!

Open and work on as many issue as you want to – the React side of the app needs lots of work 😄

[2020-12-22 16:36] lucievr commented on #80
Okay, thanks 😄

[2020-12-22 16:57] jrobind commented on #9
Hey @Niaz-Ul-Haque, are you still working on this?

[2020-12-22 17:23] jrobind opened #81 "Lesson modal close button should be sticky"
![ezgif com-gif-maker (6)](https://user-images.githubusercontent.com/30320536/102915559-efcf3d80-4479-11eb-98f6-5bcf36ce5ee7.gif)

When scrolling a lesson, the close button does not stick to the top of the modal. As a result, you need to scroll back to the top to close the modal. This will be annoying for lessons with lots of content. Although you can close the modal using the Esc key, this won't

[2020-12-23 11:32] #80 closed

[2020-12-24 06:41] MSoup commented on #59
I'll try this issue!

[2020-12-24 08:37] jrobind commented on #59
Go for it @MSoup 😄

[2020-12-25 01:13] MSoup opened #86 "Notes should be scrollable in the preview pane"
Instead of the text simply being cut off, it would be nice to be able to scroll through the text preview. The whole text is being loaded anyway, isn't it? If it isn't, then I guess we save some bytes (potentially kilobytes at best) of data by only having the preview show a max limit, but if it is, then a scrollable implementation would be easier than having to manually click "view lesson." (Imagin

[2020-12-25 17:34] lucievr opened #87 "Create a Header component in React app"
**Summary:**

- create a new Header React component
- handle any logic in the header - saving a new user to local storage and randomly assigning an avatar image
- include header styles as part of the component using styled components

(I have already done this and I'm linking the PR 🚀  )

[2020-12-26 08:11] #72 closed

[2020-12-26 13:20] jrobind commented on #87
Thanks for linking this!

[2020-12-26 13:44] jrobind commented on #86
Thanks for raising this. Totally agree, this will become really annoying fast, especially if lesson content looks similar. I *think* the whole text is being loaded.

yep, looks like it's the entire lesson content:

https://github.com/jrobind/dev-jot/blob/master/app-main/public/js/index.js#L241

[2020-12-28 17:02] #87 closed

[2020-12-28 17:19] jrobind opened #90 "Link lesson notes to tutorial/lesson URL"
After discussion in the Discord channel, to make lessons easier to reference and discover we should (optionally) allow users to link lessons to a relevant tutorial URL.

Aside from the obvious and merely adding the tutorial URL to the lesson notes themselves, It would make more sense to add this option as a new input field.

This ticket should cover:

* add optional URL input field
* make sure thi

[2020-12-28 17:20] jrobind commented on #18
Hey @nimiakinleye just wondered how you're getting on with this?

[2020-12-28 17:21] jrobind commented on #78
Closed by #85

[2020-12-28 17:21] #78 closed

[2020-12-28 17:28] nimiakinleye commented on #18
I've not been able to work on it, the bug I told you prevented me from working on the project is yet to be resolved

[2020-12-28 17:43] jrobind commented on #18
It should be working fine now 😄  Are you able to clone the repo again and follow the set up instructions? Let me know if you still want to carry on with this, otherwise I can let someone else have a go. Let me know what you'd like to do 😃

[2020-12-28 17:56] nimiakinleye commented on #18
For sure I'd like to carry on with it. Okay, I'll try cloning again. Let's see how that goes, hopefully it'll work😃

[2020-12-28 17:59] jrobind commented on #18
Awesome! Feel free to ping here or on DIscord if you're still having issues 😄

[2020-12-28 18:00] nimiakinleye commented on #18
Alright, thank you sir!😉

[2020-12-29 10:26] nimiakinleye commented on #86
Nice Idea, I decided to work on this since I didn't find an 'in progress' tag.

[2020-12-29 11:41] jrobind commented on #86
Thanks @nimiakinleye, I'll review the PR later today 😃

[2020-12-29 22:57] jrobind commented on #86
Closed by #91

[2020-12-29 22:57] #86 closed

[2020-12-29 23:27] Jmiccolo commented on #5
Going to try my hand at this.

[2020-12-30 11:47] jrobind commented on #5
All yours @Jmiccolo!

[2020-12-30 13:25] jrobind opened #92 "Remove auth markup, logic, and styling from both default & React app"
The app originally used Firebase to authenticate users via Google profile so lessons could be persisted using Firestore. Firebase has been removed from the project and now lessons are persisted within the browser using the local storage API.

We need to remove the logic, markup & styles associated with the authentication. We need to do this across both apps, otherwise this will confuse contributor

[2020-12-30 21:56] Jmiccolo commented on #92
Just want to make sure. No reason to break up the firebase javascript as it is not being used at this moment(separated it out to its own folder for later use if necessary). Also the firebase_quill_init.js is only referencing the quill.js library. Should we remove the firebase prefix for less confusion on that(I was confused about its use).

[2020-12-30 21:58] Jmiccolo commented on #5
Just want to make sure that I can change the name of firebase_quill_init.js to just quill_init.js to avoid confusion that firebase might be necessary for it. Also just removed firebase to its own folder as it is not referenced anywhere.

[2020-12-31 15:23] jrobind commented on #5
That's absolutely fine @Jmiccolo. I've just recently raised a ticket to remove the firebase code anyway! Thanks for checking 😄

[2021-01-02 20:12] groggilsoft commented on #38
I can take this one

[2021-01-03 10:42] jrobind commented on #38
All yours 😄

[2021-01-03 14:19] jrobind commented on #59
Closed by #93

[2021-01-03 14:19] #59 closed

[2021-01-03 14:21] #65 closed

[2021-01-06 14:28] jrobind commented on #38
Closed by #94

[2021-01-06 14:28] #38 closed

[2021-01-07 10:37] jrobind commented on #81
Closed #94

[2021-01-07 10:37] #81 closed

[2021-01-07 11:43] jrobind opened #96 "Clicking clear button in edit view reverts text for submit button"
If you edit a lesson and click the CLEAR button to remove the form input text, it also reverts the submit button text from 'UPDATE LESSON' to 'ADD LESSON'. It should remain as 'UPDATE LESSON'.

![ezgif com-gif-maker (9)](https://user-images.githubusercontent.com/30320536/103888947-8b4ce900-50dd-11eb-9fa0-fed9358b2a65.gif)

[2021-01-08 15:04] lucievr commented on #92
Happy to take this on ✋

[2021-01-09 16:39] jrobind commented on #92
Go for it 👍

[2021-01-09 17:17] jrobind commented on #5
Closed by #95

[2021-01-11 19:34] #92 closed

[2021-01-11 19:36] jrobind commented on #9
This is now open for someone else to work on 😄

[2021-01-17 16:45] jrobind commented on #67
Hey @chhatrapalsinhzala007 are you still working on this? Otherwise I'll open this back up.

[2021-01-20 06:53] medhavibasera commented on #9
I would like to work on this.

[2021-01-20 06:55] medhavibasera commented on #14
I would like to work on this.

[2021-01-20 11:14] jrobind commented on #9
All yours 😄

[2021-01-20 11:16] jrobind commented on #14
Go for it! I'd recommend creating separate pull requests if you are tackling 2 different issues.

[2021-01-20 14:38] medhavibasera commented on #14
sure!!

[2021-02-11 15:44] jrobind opened #101 "Download lesson notes as markdown files"
Currently we save lessons to the browser Local Storage API. There is currently no way to persist lessons to a database/cloud.

As a backup, we could add a feature to enable the user to download their lesson notes as markdown or txt files.

[This article](https://blog.logrocket.com/programmatic-file-downloads-in-the-browser-9a5186298d5c/) provides some useful information for someone looking to take

[2021-02-11 15:45] #5 closed

[2021-02-11 15:46] jrobind commented on #18
I've merged this, thanks @nimiakinleye 👍

[2021-02-11 15:46] #18 closed

[2021-02-11 15:47] jrobind commented on #67
I'm going to open this one back up

[2021-02-13 16:44] jrobind commented on #9
Closed by #102

[2021-02-13 16:44] #9 closed

[2021-02-22 14:02] jrobind commented on #7
I'm going to open this one back up. Let me know if you're still working on this @sonechca!

[2021-03-03 12:45] VIPIN24BOHRA commented on #96
hi @jrobind I would like to handle it, well I have fixed the problem. just I have to make a pull request.

[2021-03-03 16:49] jrobind commented on #96
Awesome, go for it! 👍

[2021-03-04 16:19] jrobind commented on #96
Closed by #104

[2021-03-04 16:19] #96 closed

[2021-03-04 16:36] jrobind opened #105 "Fix modal text alignment"
There are some alignment issues with the modal lesson content.

**Steps to reproduce**:

1. Add new lesson
2. Click 'View' button on lesson card
![Screenshot 2021-03-04 at 16 22 11](https://user-images.githubusercontent.com/30320536/109995108-e37f2080-7d05-11eb-83e8-bd1f07458dfd.png)

[2021-03-05 15:42] VIPIN24BOHRA opened #106 "issue in removing the lesson while editing it."
To get the issue follow these steps :

- create a new single lesson.
- Click on the edit button.
- now click on the remove lesson button.
- now try to update the lesson it will not get updated or added.
- and after removing the lesson the submit button should show "Add lesson " instead of "Update lesson".

[2021-03-05 15:50] VIPIN24BOHRA commented on #106
Solution :
**first solution:**

- hide the lesson when we are updating it so that the user can't delete it while updating. as there is no point in deleting while updating.

**second solution.**

- we can make some changes to the code so that after removing the lesson while editing it should not create a problem.

[2021-03-05 16:55] gaddscientist commented on #105
Hey I'd like to take this issue if you don't mind.  I have a pull request ready but I wanted to follow the contribution guidelines to get it assigned to me first.

[2021-03-05 17:36] jrobind commented on #105
All yours! Thanks for dropping a comment and helping out!

[2021-03-05 17:44] gaddscientist commented on #105
Thanks! Always happy to help.  Pull request is submitted.

[2021-03-06 02:41] gaddscientist commented on #7
Hi, I'd like to work on this issue. Is it alright to take this one if its back open?

[2021-03-06 08:00] jrobind commented on #7
All yours Bryan 👍

[2021-03-06 08:04] jrobind commented on #106
Thanks for raising this issue! I'll try and reproduce this later today when I get some time.

Feel free to take this on if you'd like 😄

[2021-03-06 09:02] VIPIN24BOHRA commented on #106
Sure I would like to work on it.

[2021-03-07 16:07] jrobind commented on #105
Closed by #107

[2021-03-07 16:07] #105 closed

[2021-03-07 16:07] jrobind commented on #7
Closed by #108

[2021-03-07 16:07] #7 closed

[2021-03-10 17:44] #106 closed

[2021-03-24 13:16] jrobind opened #110 "Create footer component (React version)"
Create a Footer component that matches the default app version.

<img width="1436" alt="Screenshot 2021-03-24 at 13 13 53" src="https://user-images.githubusercontent.com/30320536/112316217-cc977280-8ca2-11eb-828a-176f7d9d48dd.png">

If you're looking for guidance you can check  `Header.jsx` [here](https://github.com/jrobind/dev-jot/blob/master/app-react/src/components/Header.jsx).

[2021-03-24 15:55] ceelo777 commented on #110
I'd like to take this issue on!

[2021-03-24 16:09] jrobind commented on #110
All yours @ceelo777 😄

[2021-03-24 20:21] ceelo777 commented on #34
Is this for React or Vanilla version of the app? Or maybe both?

[2021-03-25 10:26] #110 closed

[2021-03-25 10:31] jrobind commented on #34
This was intended for the vanilla version. I think for the React version seeing as we're using CRA it makes more sense to let webpack handle asset optimisation. If we need to override webpack config we could use something like [craco](https://github.com/gsoft-inc/craco).

[2021-03-25 17:40] ceelo777 commented on #34
Sounds good - I added a configuration file for the vanilla version - I'm not sure exactly what functionality we want for both pack-js and pack-css so I just packed all the assets into a build folder for now - we should probably create future issues to slowly build the functionalities for both functions from the bottom up.

[2021-03-29 07:15] jrobind commented on #34
Sounds good! Thanks for setting this up. /build sounds fine, we can update/iterate at a later date. I'll review the PR now!

[2021-03-29 07:32] #34 closed

[2021-04-07 19:39] jrobind opened #113 "Convert CSS to SASS/SCSS"
It would be nice to refactor our styles so they are more maintainable and reusable. A few considerations for this:

* Introduce a naming convention such as BEM
* Organise styles into components
* Utilise SASS features such as mixins, imports, variables, maps etc

We've recently added Gulp but it might make more sense to use Webpack and let it handle code minification, asset optimisation and SASS t

[2021-04-07 19:51] jrobind opened #114 "Create Lessons form component – React"
This ticket could cover the basic UI for the lesson form (check the live vanilla app to see).
![Screenshot 2021-04-07 at 20 46 17](https://user-images.githubusercontent.com/30320536/113924926-52a6d380-97e2-11eb-94b7-8206f384e748.png)

We need to make sure the markup is accessible i.e. correct HTML5 elements, keyboard navigation works. We also need to ensure styling is consistent with the live vani

[2021-04-08 05:54] muzamil301 commented on #114
hello @jrobind how can I start working on it I mean I need repo to contribute

[2021-04-08 06:15] muzamil301 commented on #113
@jrobind  let me know if no one started

[2021-04-08 11:17] jrobind commented on #114
Hey @muzamil301, feel free to pick this up. You'll need to fork the repo to work on this. If you're completely new to open source contributions I'd recommend you follow [this guide](https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github).

Also make sure you have a read through `CONTRIBUTING.md` within the project root 😄

[2021-04-08 11:18] jrobind commented on #113
Hey @muzamil301, I'd recommend just working on one ticket at a time for now 😄

[2021-04-08 11:55] muzamil301 commented on #114
hello @jrobind you are right I am new to open source contribution. I will read the guide for sure then I will work on it  😄

[2021-04-08 11:55] muzamil301 commented on #113
😄 got your point

[2021-04-09 17:19] jrobind commented on #14
Hey @medhavi11, are you still working on this?

[2021-04-16 19:27] ehowden commented on #3
Hello! My partner (@iyerm2000) and I would like to take this issue! We are Computer Science students at the University of Michigan and are working on a contribution project.

[2021-04-17 08:10] jrobind commented on #3
Hey! It's all yours. Thanks for picking this up, let me know if you have any questions 😄

[2021-04-19 17:10] ehowden commented on #67
Was this resolve by PR #76 ?

[2021-04-19 17:48] jrobind commented on #67
No, this ready to work on. Thanks for reminding me, I forgot to close #76

[2021-04-19 21:44] ehowden commented on #67
I'd be happy to take it on with @iyerm2000 !

[2021-04-20 09:09] jrobind commented on #67
Go for it! 👍

[2021-04-21 17:47] #114 closed

[2021-04-21 19:42] iyerm2000 commented on #3
Hi! I am ready to create a PR. Can I be assigned to the issue too? I am @ehowden's partner!

[2021-04-22 19:04] ehowden commented on #60
@iyerm2000 and I are interested in working on this issue as well. Right now I see the colors as tags, but do you have a predefined list you would like to see instead? To answer your thoughts above, I think it would be worthwhile to allow the user to define their own custom tags.

[2021-04-23 07:17] jrobind commented on #60
I think we can definitely improve the UI for the tags. Ultimately, I'm thinking that the user will be able to add multiple tags from a predefined list as well as create their own – something like this https://jeesite.gitee.io/front/jquery-select2/4.0/index.htm#multiple

If that feels a little complex, this ticket could just handle adding the correct tags to the lesson cards. Currently, if you sele

[2021-04-24 19:13] iyerm2000 commented on #60
Hi! I was wondering whether it would be possible to get a little more insight on how to save the lesson tags. Currently I don't see a defined backend in the codebase. Any advice would be great!

[2021-04-28 11:11] jrobind commented on #60
There is no backend atm. All lesson data is persisted in browser storage. The idea going forward is that we'll allow the user to download their lesson data in (.md or .txt) if they wish to save/persist elsewhere.

The lesson tags are already being saved. If you open up the developer tools and add a lesson, if you run `localStorage.getItem('user')` you'll see lesson data & associated tag data – lik

[2021-04-28 15:47] hilldrupbf opened #118 "Add unit/integration testing"
Hi, I'm interested in adding some tests to the vanilla JS app for a college course I'm taking.  I wanted to get approval and have this issue assigned to me if that is something that would be beneficial to contribute. Let me know what you think, thanks.

[2021-04-29 17:06] jrobind commented on #118
Hey @hilldrupbf, thanks for opening this issue.

This sounds great and would be very helpful. I'll mark this as in progress and assign it to you. We do have some example (rather contrived) jest tests which you could use as a starting point (or feel free to remove).

If you have any comments, questions, or general ramblings feel free to just comment here (or join the Discord server and ping in the

[2021-04-29 17:06] jrobind commented on #3
Closed by #117

[2021-04-29 17:06] #3 closed

[2021-04-29 17:07] jrobind commented on #67
Closed by #116

[2021-04-29 17:07] #67 closed

[2021-05-05 17:44] RoseKimball commented on #69
Hi, I can work on this issue

[2021-05-06 09:11] #69 closed

[2021-05-07 17:35] brianbui012 opened #120 "Changing header title color to blue"
Just changing the Header title bar from green to blue to learn / practice github workflow.

[2021-05-08 13:04] jrobind commented on #120
That's great @brianbui012 – go for it! Let me know if you need a hand, drop any comments here 😄

[2021-05-09 10:18] louiscarnell opened #121 "Add Open Graph meta tags and improve 'description' meta tag"
There aren't any Open Graph meta tags or a good description of the site within the `<meta name="description"/>` tag. This makes the site look a bit plain when sharing online or when it's listed in search results (as can be seen with the preview below from https://metatags.io/).

I would like to work on this (to learn / practice contributing to GitHub).

![screenshot of metatags io preview](https:/

[2021-05-09 17:49] gaddscientist commented on #118
Hi, I've created a pull request to be reviewed, but wanted to additionally comment here to see if you'd remove the in progress label to open up the issue to anyone who may want to get their hands on some testing.  Or perhaps close this issue and you could open a new one with more information if you would prefer. Thanks!

[2021-05-12 19:43] jrobind commented on #120
Closed by #123

[2021-05-12 19:43] #120 closed

[2021-05-12 19:44] jrobind commented on #121
Hi @louiscarnell thanks for opening this issue. Feel free to work on this 😄

[2021-05-13 13:55] jrobind commented on #118
Thanks Bryan, I've removed the label and unassigned you from this. Thanks for submitting an awesome PR – just left a few comments on it for you!

Regarding this ticket, I agree with your suggestion – let's leave this open for somebody else to have a crack at some testing.

[2021-05-17 19:13] #121 closed

[2021-05-30 17:13] Blargian commented on #101
Hi, I'm a junior developer wanting to get involved in opensource as a first timer. I'm interested in taking this on if you're looking for help.

[2021-06-01 06:03] akosbalasko commented on #101
Hi @jrobind !

Congrats on your project, it looks like a really nice and easy-to-use tool!

If I see well, all of the lessons' contents are stored in the Local Storage, parts are plain html, images encoded. A couple of questions came to my mind:

- Images make the things a bit more complicated, to follow MD standards I would put images next to the MD files, and reference them. So in this case we h

[2021-06-01 06:06] akosbalasko opened #126 "Tags are not stored in local storage"
Hi!
As I see in Local Storage, tags are not stored in the JSON data, however I set a red-tag. I'm not sure if it matters, but I created a lesson with no tag and then updated it by setting a red-tag and clicked to update.

Expected behaviour: they should :)

<img width="655" alt="Screenshot 2021-06-01 at 8 04 39" src="https://user-images.githubusercontent.com/11886731/120274437-22deee00-c2b0-11eb-8

[2021-06-01 15:55] chilupa opened #127 "Add unit tests for react app"

[2021-06-01 16:38] chilupa opened #128 "Refactor react components"
There are several components with redundant code which can be refactored and make it modular.

[2021-06-01 16:49] chilupa opened #129 "Rich UI components"
I would suggest implementing [`@material-ui/core`](https://material-ui.com/) for UI components. It would cut down the time for writing the custom styling for simple UI components such as input elements, buttons etc.

[2021-06-02 16:07] jrobind commented on #101
Hey! Feel free to take this on :) @akosbalasko has some useful notes & observations, and if you want to discuss further feel free to comment here. I'll assign this to you and mark this as in-progress.

[2021-06-02 16:10] jrobind commented on #101
Hey! Thanks for the input. I'll get back to your other points, but regarding the storing of notes remotely, for now I've decided to keep everything client side, this project is more of a playground for those new to open source and FE development, having everything client side makes things a little easier for newcomers.

[2021-06-02 16:26] jrobind commented on #127
Agreed! Thanks for raising this issue.

[2021-06-05 15:57] Blargian opened #131 "Lesson content extends beyond container when viewing"
When viewing a lesson if the content height exceeds the height of the container then it extends beyond the container. See [here](https://imgur.com/a/9KX19Q9) for example.

A simple fix might be to add a scrollbar to the content view area so that the user can just keep scrolling down if the content exceeds the container height.

[2021-06-05 16:27] Blargian commented on #101
@jrobind I see in the css that small, large and huge correspond to 0.75em, 1.5em, 2.5em respectively. I think an appropriate mapping would be something like huge -> # and large -> ## however the small size doesn't have much connection with markdown. (I'm assuming GFM variety of markdown here). How do you think the small headings should map to the markdown? I thought maybe it could map to a subscri

[2021-06-07 16:43] jrobind commented on #131
Thanks for raising this issue! Great spot. Adding a vertical scrollbar seems like the best fix. Feel free to take this on if you'd like 😄

[2021-06-07 19:14] Blargian commented on #131
@jrobind Great, you can assign this to me and I'll do it as soon as I'm done with the export to .md stuff 👍 by the way is the React version of the app at the same stage of development as the vanilla JS app?

[2021-06-07 19:31] jrobind commented on #131
Will do! No rush at all so take your time. It's not, it's some way behind. There are a couple of individuals working on it intermittently but it could do with some more focused work. There's a lot of freedom with it too, it doesn't have to be a like-for-like rebuild, we could add different features.

[2021-06-10 13:19] dalegacusan commented on #129
Hi, I'm interested in working on this issue. Is it still open?

[2021-06-10 13:35] dalegacusan opened #133 "Implement lesson cards for app-react"
Noticed that the **LessonCard** component in *app-react* is a *work under progress*. This should be implemented as soon as possible since it's one of the bare-bone features of the application.

[2021-06-10 13:36] dalegacusan commented on #133
The styles of the cards should be the same as the ones from *app-main* right?

[2021-06-11 09:02] jrobind commented on #133
Thanks for raising this issue! Totally agree and to answer your question, for now, yes. Let's keep things consistent 👍

If you want to take this on Dale, I can assign it to you?

[2021-06-11 09:36] jrobind commented on #129
yes it is! I'll assign you 😄

[2021-06-11 09:39] SakaRicky commented on #64
Hi, can I look into this issue?

[2021-06-11 09:57] jrobind commented on #64
Hey! Unfortunately this issue is already being worked on.

[2021-06-11 09:59] SakaRicky commented on #64
Looking for a first issue to contribute here. Can you point me to a good one please?

[2021-06-11 11:33] dalegacusan commented on #133
Definitely! You can assign this to me. I'll probably need to pass #129 so that I can focus on this one.

[2021-06-12 11:33] jrobind commented on #133
No worries and no rush on either of them!

[2021-06-12 11:44] jrobind commented on #126
Thanks for raising this issue @akosbalasko. Great spot. Feel free to pick this up if you want 😄

[2021-06-12 11:53] jrobind commented on #64
Take a look at #113. That's a good one to start with. If you want I can assign you to it?

[2021-06-12 12:02] SakaRicky commented on #64
Looks good for me. I finally have the opportunity to tackle SASS/SCSS

[2021-06-12 12:03] jrobind commented on #64
😄 just ping on the ticket if you need a hand. Do as little or as much as you want. Whatever you're comfortable with!

[2021-06-12 12:22] SakaRicky commented on #64
I see there are 2 versions. I want to work with the react version. Can I clone that version only? Which version does git clone https://github.com/jrobind/dev-jot.git clone ?

[2021-06-12 12:24] jrobind commented on #64
This ticket is just for the vanilla app. The react version uses styled components and material ui so this ticket doesn't apply.

[2021-06-12 12:31] SakaRicky commented on #113
I guess it's more appropriate to continue here. So I will do this for the vanilla part.

[2021-06-12 13:53] akosbalasko commented on #126
Thanks @jrobind , challenge accepted! :)

[2021-06-17 19:00] #126 closed

[2021-06-21 20:25] jrobind commented on #131
Closed by #136

[2021-06-21 20:25] #131 closed

[2021-06-25 14:59] SakaRicky commented on #113
Hi have been working on this issue but I have a problem. When I open the index.html file in the public folder of the main-app I get this
![Screen Shot 2021-06-25 at 15 56 47](https://user-images.githubusercontent.com/15845221/123443911-3a1eac00-d5ce-11eb-85ca-d4a9d9e7f187.png)
Have I screwed something?
I cloned it again from fresh in another local dir but still the same

[2021-06-26 04:23] SakaRicky commented on #113
Is there something I'm missing ?

[2021-07-02 13:52] 1bsilver commented on #128
Hi, I am new to open source.
I would like to work on this.
Can you mention the components that need to be refactored?

[2021-08-08 10:14] akashpatil14298 commented on #113
Hi @jrobind , If this issue is open, I would like to work on it..

[2021-08-10 14:23] SakaRicky commented on #113
Yeah you can proceed with it.

On Sun, 8 Aug 2021 at 11:14 akashpatil14298 ***@***.***>
wrote:

[2021-09-13 22:35] priyang12 commented on #127
hi can i work on this issue and how do you structure your files. i mean should i make a separate folder for test or below the component file.

[2021-09-14 15:18] wsameer commented on #127
@jrobind Hey! I would like to work on this? Are you okay if I raise a PR?

[2021-09-14 18:06] priyang12 commented on #113
is issue still open???

[2021-09-14 18:52] SakaRicky commented on #113
Yes, it is.

On Tue, 14 Sep 2021 at 19:06 Priyang ***@***.***> wrote:

[2021-09-15 03:46] SriSatyaT opened #138 "Suggestions for improving the repo"
I anticipate the repo looks great and I believe in removing the unwanted categories which are not in use.  I'm referring to this
![jrobind_dev-jot_ Note-taking app for online development tutorials - Google Chrome 15-09-2021 09_13_23_LI (2)](https://user-images.githubusercontent.com/78905067/133367287-b07492e2-b9f6-4ef1-bbf8-e55e0fe9fae7.jpg)

[2021-09-15 13:16] priyang12 opened #139 "When i start the vanilla app with live server it giving me a alert called Service Worker registration failed."
![image](https://user-images.githubusercontent.com/72823974/133440103-10cdbb4e-c82a-4eb9-9dd4-7381c6a6bc17.png)

[2021-09-15 13:42] priyang12 commented on #139
OK i find out why this happened. it because of path of svg. it requires `<img referrerpolicy="no-referrer" alt="avatar" src="/app-main/public/images/avatars/goldfish.svg">`.

[2021-09-15 13:42] #139 closed

[2021-09-20 17:49] priyang12 commented on #113
@jrobind  i have Change the CSS to SCSS in #140 PR

[2022-01-18 08:11] GurukiranMH commented on #14
![image](https://user-images.githubusercontent.com/89529565/149896532-76557d0f-edeb-45a0-9bd7-560c151d4a47.png)
Is it better than the above one? If so, let me know

[2022-01-18 08:19] Chetan-B-B opened #142 "Notes to pdf"
***Adding a feature*** to enable students to easily export saved notes to pdf.

Assign me to this issue. I have an idea about this.

[2022-01-23 17:04] Aslam-13 commented on #64
Hi,
I have made some changes in the ui can i make a pull request!

[2022-02-03 22:20] ding-09 opened #144 "UI suggestion"
Currently, the 'X' icon in the view lesson **closes** the view window. The 'X' icon in the lesson card **deletes** the lesson card.

<img width="1056" alt="Screen Shot 2022-02-03 at 2 08 21 PM" src="https://user-images.githubusercontent.com/35241829/152438361-e68388cb-3314-48de-bbde-44a140406940.png">

<img width="291" alt="Screen Shot 2022-02-03 at 1 30 18 PM" src="https://user-images.githubuserc

[2022-02-04 12:02] RamGoel commented on #142
I want to work on this issue, please assign it to me!!

[2022-02-27 21:02] 1219aks commented on #63
Hi, is this issue available? Can you please assign it to me? Also what kind of language do you think is the best to use here?

[2022-03-01 18:35] 1219aks commented on #62
Hi, can you assign me this task please.

[2022-03-04 12:49] pancholipratham7 commented on #14
Hey I want to contribute to this and I would like to improve the UI for the lesson modal. Is this issue still open ? .Please let me know..!

[2022-03-08 01:04] 1219aks commented on #63
<button style="background-color: white;" type="button">
<button style="height:50px;width:100px">
Lesson #1
</button>

<button style="background-color: white;" type="button">
<button style="height:50px;width:100px">
Lesson #2
</button>

<button style="background-color: white;" type="button">
<button style="height:50px;width:100px">
Lesson #3
</button>

<button style="background-color: white;" type=

[2022-03-08 01:05] 1219aks commented on #63
<button style="background-color: white;" type="button">
<button style="height:50px;width:100px">
Lesson #1
</button>

<button style="background-color: white;" type="button">
<button style="height:50px;width:100px">
Lesson #2
</button>

<button style="background-color: white;" type="button">
<button style="height:50px;width:100px">
Lesson #3
</button>

<button style="background-color: white;" type=

[2022-03-08 01:06] 1219aks commented on #63
[UI.zip](https://github.com/jrobind/dev-jot/files/8201846/UI.zip)